<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="application"
         name="SIS"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run class="org.iucn.sis.offline.equinox.application.Application"/>
      </application>
   </extension>
   <extension
         id="product"
         name="SIS"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.iucn.sis.offline.equinox.application.application"
            name="SIS">
         <property
               name="appName"
               value="SIS">
         </property>
      </product>
   </extension>

</plugin>
