/** COLOR PALETTE **
 * SIS BLUE: #00428C
 * SIS RED:  #C01B24
 * SIS LIGHT BLUE: #CEDCE9
 * SIS Teal: #3e9182
**/


body {
	background-color: #00428C;
	color: black;
	font-family: Arial, sans-serif;
	
	/*background-repeat: repeat-y;
	background-image: url("../images/sisTableBg.gif");*/
}

body,td,div,input {
	font-size: 12px;
}

/**************** SIS MAIN PAGE ********************/

.SIS_sideBar { 		/* The whole StackPanel sidebar */
	position: absolute;
	top: 150px;
	left: 3px;
	width: 185px;
	height: 400px;
	z-index: 250;
	background-color: #CCFFCC;
/*	background-image: url("../images/banner2.png");*/
	background-repeat: no-repeat;
	border: 4px inset #00428c;
}

.SIS_sideBarHeaders {	/* Just the buttons with text as headers */
	background-color: white;
	font-family: Verdana;
	font-size: 11px;
	font-weight: bold;
	color: #c01b24;
	border: 1px groove #00428c;
	/*width: 100%;*/
	width: 135px;
	height: 40px;
	/*margin-left: 1px;*/
	margin-right: 1px;
	cursor: pointer;
}

.SIS_sideBarHeaders:hover {
	background-color: #CEDCE9;
	border: 1px groove #C01B24;
}

.SIS_sideBarFullHeader {	/* The Image (if there) and the sideBarHeader header button */
	/*border: 1px groove #000000;*/
	text-align: center;
	margin: 0px auto;
	margin-top: 5px;
	width: 100%;
	/*max-width: 120px;*/
	padding: 2px;
	cursor: pointer;
}

.SIS_sideBarWidget {		/* The panel containing the sideBar for a given Module */
	border: 1px dashed #00428C;
/*	background-color: #CEDCE9;*/
	background-color: #DEDEDE;
	width: auto;
	margin-left: 4px;
	margin-right: 2px;
	margin-top: 0px;
	margin-bottom: 4px;
	padding: 2px;
}

.SIS_sideBarViewButton {	/* Any buttons a sideBarWidget may have */
	background-color: #CEDCE9;
	font-family: Verdana;
	font-size: 12px;
	color: #00428C;
	border: 2px outset #00428C;
	width: 100%;
	margin: 2px;
	font-weight: bold;
	margin-left: 15px;
}

.SIS_sideBarViewButtonSelected {	/* Any buttons a sideBarWidget may have */
	background-color: #00428C;
	font-family: Verdana;
	font-size: 12px;
	color: #CEDCE9;
	border: 2px inset #DEDEDE;
	width: 100%;
	margin: 2px;
	font-weight: bold;
	margin-left: 15px;
}

.SIS_logoPanel {
	/*position: absolute;
	left: 0px;
	top: 20px;
	*/
	/*background-repeat: no-repeat;*/
	background-image: url("../images/sislogo.gif");
	background-color: #CCFFCC;
	/*width: 100px;
	height: auto;*/
}

.SIS_logoImage {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 105;
}

.SIS_ModuleOptionPanel {
	/*position: relative;*/
	display: block;
	height: 100%;
	width: 200px;
	background-color: #CCFFCC;	
}

.SIS_ModuleInnerPanel { /* Inner panel */
	margin-left: 220px;
	margin-top: 10px;
	/*background-color: blue;*/
}

.SIS_ModuleFrame {	/* Scrollable panel */
	/*position: absolute;
	left: 200px;
	top: 200px;*/
	/*	background-color: #00428c;*/
	position: relative;
	display: block;
	/*margin-top: 60px;*/
	margin-left: -200px;
	right: 0px;
	background-color: #00428C;
	background-image: url("../images/sisTableBg.gif");
	background-repeat: repeat-y;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 2px;
	padding-bottom: 2px;
	z-index: 101;
	/*width: 100%;
	height: 100%;	*/
}

.SIS_Body {		/* The full panel */
	top: 0px;
	left: 0px;
	background-color: #00428C;
}

/***************** LOGIN PAGE *******************/

.SIS_loginTable {
	position: absolute;
	left: 400px;
	top: 240px;
	color: #FFFFFF;
	font-weight: bold;
}

.SIS_loginDescription {
	position: absolute;
	left: 100px;
	top: 160px;
	vertical-align: top;
	text-align: right;
}

.SIS_loginPage {
	text-align: center;
	vertical-align: middle	
}

.SIS_loginFields {
	vertical-align: middle;
	background-color: #00428c;
	background-image: url("../images/sisTableBg.gif");
	background-repeat: repeat-y;
}

.SIS_loginPanel {
	position: absolute;
	left: 100px;
	top: 100px;
}

.SIS_loginBanner {
	background-image: url("../images/banner1.png");
	background-repeat: no-repeat;
}


/**************** GWT STUFF **********************/

.gwt-menuBar {
	background-image: url("../images/menubarlogo.gif");
	background-repeat: no-repeat;
	background-color: #00428c;
}

.gwt-MenuItem {
	background: #FFFFFF;
	color: #c01b24;
	font-weight: bold;
	text-decoration: underline;
	border: none;
	padding: 1px 4px 1px 4px;
	cursor: pointer;
/*	cursor: hand;*/
}

.gwt-MenuItem-selected {
	background: #FFFFFF;
	color: #c01b24;
}

.gwt-DialogBox {
	position: absolute;
	border: 2px outset;
	background-color: white;
}

.gwt-DialogBox .Caption {
	background-color: #C3D9FF;
	padding: 3px;
	margin: 2px;
	font-weight: bold;
	cursor: move;
}

.gwt-Tree {
	margin-top: 1em;
	margin-bottom: 1em;
}

.gwt-Tree .gwt-TreeItem {
	cursor: default;
}

.gwt-Tree .gwt-TreeItem-selected {
	background-color: #C3D9FF;
}




/******************* SIS DEM MODULE ************************/

.SIS_contentTable {
	background-color: #CCFFCC;
	border: 2px inset #EEEEEE;
	padding: 10px;
}

.SIS_contentTableRow {
	background-color: #CCFFCC;
	border-color: #000000;
	border-width: 2px;
	border-style: groove;
	padding: 5px;
	width: 100%;
}

.SIS_contentTableCell {
	background-color: #CCFFCC;
	border: 1px dotted #444444;
	padding: 5px;
	vertical-align: middle;
	text-align: center;
	width: 100%;
}

.SIS_titleTableRow {
	background-color: #CCCCCC;
	color: 00428c;
	font-weight: bolder;
}

.specsearch {
	background-color: red;
}

/******************* 1) EXPERT SYSTEM ******************/

.SIS_expertFullPanel {
	width: 200px;
	background-color: #FFFFFF;
	border: 2px groove #000000;
}

.SIS_smallExpertText {
	font-size: 8pt;
}

.SIS_bigExpertText {
	font-size: 12pt;
	font-weight: bold;
/*	text-shadow: #CCFFCC;*/
}

.SIS_expertResults {
	text-align: center;
	border-width: 1px;
	border-style: solid;
}

.SIS_expertButton {
	position: absolute;
	top: 40px;
	right: 5px;
	font-family: Arial, Verdana, sans-serif;
	font-size: 10pt;
	border: 2px outset #00428c;
	background-color: #FFFFFF;
	width: 200px;
	height: 20px;
}

/******************* 2) DISPLAYS      ******************/

/* STRUCTURES */

.SIS_Map_EditBanner { /* Says "edit points" in a maps text area */
	border: 1px solid #CCFFCC;
	padding: 4px;
}

.SIS_ThreatLabel, .SIS_ThreatLabelActive {
	border: 0px solid #000000;
	font-size: 10pt;
	color: black;
	font-weight: bold;
	background-color: #CCFFCC;
}

.SIS_ThreatLabelActive {
	color: blue;
}

/* THESE ARE DEFAULT SIS_PAGE STYLES! */

.SISPage_Title, .SISPage_Body, .SISPage_Footer {
	border: 2px groove #000000;
	background-color: #CCFFCC;
	width: 600px;
	height: 100%;
	padding: 10px;
}

.SISPage_Title {
	/*position: relative;*/
	/*left: 80px;*/
	width: 100%;
	padding: 4px;
	background-color: #444444;
	color: #FFFFFF;
	font-size: 20px;
/*	text-shadow: 1px black;*/
	text-align: left;
}

.SISPage_Field {
	font-size: 10px;
	font-weight: bold;
	border: 1px outset #000000;
	margin-bottom: 10px;
	padding: 4px;
	width: auto;
}

.SISPage_Footer {
	text-align: center;
}

.SISPage_Body {
	margin-top: 5px;
	margin-bottom: 5px;
	text-align: left;
}

.SISPage_FullPanel {
	margin: 0px auto;
	margin-top: 40px;
	/*position: absolute;
	left: 250px;
	top: 40px;
	width: auto;*/
}

/* END DEFAULT SIS_PAGE STYLES */

/******************* 3) GENERAL STUFF ******************/

.SIS_smallButton {
	width: 20px;
	height: 20px;
	font-size: 6pt;
	font-weight: bold;
}

.SIS_longButton {
	font-family: Arial, Verdana, sans-serif;
	font-size: 10pt;
	border: 2px outset #00428c;
	background-color: #FFFFFF;
	width: 200px;
	height: 20px;
}

.tdx {
	border: 1px dashed #eeeeee;
}

/*
.invisible {
	width: 145px;
	height: 60px;
	background: transparent;
	border: none;
}
*/

.SIS_menuButton { /* FOR THE BUTTON PANEL */
	/*font-family: Arial, Verdana, sans-serif;*/
	font-family: Verdana;
	font-weight: bold;
	font-size: 8pt;
	/*border: 1px strong #777777;
	background-color: #DDDDDD;
	color: #000000;*/
	border: 2px outset blue;
	background-color: #FFFFFF;
	color: #c01b24;
	width: 170px;
	height: 20px;
	padding: 0px;
	/*margin: 2px;*/
}

.SIS_menuButtonSelected { /* FOR THE BUTTON PANEL */
	/*background-color: #444444;
	color: #FFFFFF;*/
	border: 2px inset blue;
	background-color: #c01b24;
	color: white;
}

.SIS_menuPanel {
	/*position: absolute;
	top: 0px;
	left: 220px;*/
	display: block;
	width: auto;
}

.SIS_headerPanel {
	/*position: absolute;
	left: 220px;
	top: 20px;*/
	display: block;
	vertical-align: middle;
	background-color: #CCFFCC;
	padding: 10px;
	z-index: 20;
}

.SIS_footerPanel {
	/*position: absolute;
	left: 0px;
	bottom: 0px;*/
	display: block;
	background-color: #CCFFCC;
	padding: 4px;
/*	margin-bottom: 10px;*/
}

.SIS_footerPanelButton {
	background-color: #CEDCE9;
	font-family: Verdana;
	font-size: 12px;
	color: #00428C;
	border: 2px outset #00428C;
	width: 100%;
	margin: 2px;
	font-weight: bold;
	margin-left: 15px;
}

.SIS_buttonPanel {
	/*position: absolute;
	left: 0px;
	top: 80px;*/
	display: block;
	background-color: #FFFFFF;
}

.SIS_tablePanel {
	/*position: absolute;
	left: 1px;
	top: 80px;*/
/*	background-color: #00428c;
	background-image: url("../images/sisTableBg.gif");
	background-repeat: repeat-y;*/
	display: block;
/*	padding: 4px;*/
	/*width: 800px;*/
	width: 100%;
	border: 1px solid #CCFFCC;
	height: 400px;
}



/*
19: 			<description>Large Marine Ecosystems (GET AUTH FILE  and RULES FROM JIM)</description>
22:				<description>Population Size (mature individuals)</description>

*/









/******************* UNCLASSIFIED *********************/

.SIS_Modified {
	color: red;
	font-weight: bold;
}

.SIS_Stresses,.SIS_Notes {
	position: absolute;
	bottom: 10px;
}

.SIS_Notes {
	right: 40px;
}

.SIS_AutoCompleteChoices {
	z-index: 500;	
}

.SIS_sideMenuButton {
	font-family: Arial, Verdana, sans-serif;
	font-size: 10pt;
	border: 2px outset #00428c;
	background-color: #FFFFFF;
	width: 130px;
	height: 40px;
}

.SIS_contextMenuBar {
	position: absolute;
	background-color: red;
	z-index: 400;
}

.SIS_popupPanel {
	position: absolute;
	top: 20px;
	z-index: 401;
}


.contentHeader {
	background-color: #cedce9;
	padding-top: 6px;
	padding-right: 10px;
	padding-bottom: 6px;
	padding-left: 10px;
	border-top-width: 1px;
	border-top-style: solid;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	border-top-color: #749bbf;
	font-weight: bold;
}