/** COLOR PALETTE **
 * SIS BLUE: #00428C
 * SIS RED:  #C01B24
 * MyGWT blue: #DFE8F6
 * SIS LIGHT BLUE: #CEDCE9
 * SIS EVEN LIGHTER BLUE: #D4E6FB
 * SIS REALLY SUBTLE BLUE: #E8F3FF
 * SIS Teal: #3e9182
**/ /** Z-INDEX LEVELS **
 * .SIS_ModuleFrame: 1
 * .SIS_logoImage: 2
 * .SIS_headerPanel: 3
 * .SIS_searchResults: 5
 * .SIS_ModuleInnerPanel: 6
 * .SIS_titleBar: 7;
 * .SIS_statusBar: 16
 * .SIS_AutoCompleteChoices: 17
 * .SIS_popupPanel: 18
 * .SIS_sideBar: 19
 * .SIS_contextMenuBar: 20 
 * .SIS_loadingScreen: 21 <-- DO NOT SURPASS
**/
body {
	background-color: #ffffff !important;
	color: black !important;
	/*font-family: Verdana, Arial, sans-serif;*/
}

body,td,div,input,p,select,input,button {
	font-size: 11px !important;
	font-family: Arial, sans-serif !important;
}

.has9font {
	font-size: 9px;	
}

.fontSize12 {
	font-size: 12px !important;	
}

.redFont {
	color: #C01B24 !important;	
}

.greenFont {
	color: green !important;	
}

.navyFont {
	color: navy;	
}

.navigator {
	background-color: #DFE8F6;
	border: 3px outset #00428C;
}

.deleted {
	text-decoration: line-through;
	color: #C01B24;
}

.dashed-border {
	border: 1px dashed black;	
}

.transparentBG {
	background: transparent;
}

.hasBoldHTML .gwt-HTML {
	font-weight: bold;
}

.hasUnderlinedHTML .gwt-HTML {
	text-decoration: underline;
}

.leftMargin15 {
	margin-left: 15px; 	
}

.outsetFrameBorder {
	border: 1px outset black;
	border-bottom: 1px outset black;
	border-left: 1px outset black;
	border-right: 1px outset black;
	border-top: 1px outset black;
}

.thinFrameBorder {
	border-bottom: 1px thin black;
	border-left: 1px thin black;
	border-right: 1px thin black;
	border-top: 1px thin black;
}

.thinRightBorder {
	border-right: 1px thin black;
}

.whiteBackground {
	background-color: white;
}

.padded-viewContainer {
	padding-left: 10px;
	padding-top: 5px;
}

.bold {
	font-weight: bold !important;
}

.italic {
	font-style: italic !important;	
}

.color-dark-blue {
	color: #00428C !important;
}

.underlined {
	text-decoration: underline;
}

/* ClipBoard */
.clipboardSpacer {
	border-top: .5px solid black;
	border-bottom: .5px solid black;
	background-color: #DDDDDD;
}

.pointerCursor {
	cursor: pointer;
}

.pointerDefault {
	cursor: default !important;	
}

.left {
	text-align: left;
}

.center {
	text-align: center;
}

.right {
	text-align: right;
}

.inline {
	display: inline;
}

.green-style, .green-style .my-list-item-text{
	color: green !important;
}

.blue-style, .blue-style .my-list-item-text{
	color: blue !important;
}

.red-style, .red-style .my-list-item-text{
	color: red !important;
}

.regular-style {
	color: black !important;	
}

.green-menu {
	color: green !important;	
}

.red-menu {
	color: red !important;
}

.blue-menu {
	color: blue !important;
}

.regular-menu {
	color: black !important;
}

/*.padded {
	padding: 3px;	
}*/
.gwt-background {
	background-color: #FFFFFF !important;
}

.sis_bodyContainer {
	/*border-top: 20px solid black !important;*/
}

.featured_item_container .x-border-panel {
	background-color: #FFF !important;	
}

.lower-spacing {
	margin-bottom: 6px;	
}

.white-background {
	background-color: #FFFFFF !important;
}

/**
 * Navigation Stylings
 */
 
 .monkey_navigation_section_header {
 	background-color: #DFE8F6 !important;
 	width: 100%;
 	height: 100%;
 	border: 1px dotted #00428C !important;
 	text-align: center;
 	font-weight: bold;
 }
 
 .monkey_nav_heading {
 	font-weight: bold !important;
 	font-size: 12px !important;
 	color: #15428B !important;
 }

/**
 * Page Stylings
*/
.featured_left {
	
}

.page_home_videos_featured_caption {
	color: #a72625;
	font-size: 18px !important;
	font-weight: bold; 
}

.page_home_videos_more_heading {
	width: 100%;
	height: 18px !important;
	font-size: 16px !important;
	font-weight: bold;
 	background-color: #DFE8F6 !important;
}

.page_home_videos_more_caption {
	font-size: 14px !important;
}

.page_home_videos_viewer_row {
	font-size: 12px !important;
	padding: 2px !important;
	border-bottom: 1px dotted black !important;
}

.page_home_videos_viewer_row_selected {
	background-color: #a72625 !important;
	color: #FFF;
}

.page_home_videos_viewer_caption {
	font-size: 14px !important;	
}

.page_taxon_general_taxonomicnotes em {
	font-style: italic !important;
}

.page_taxon_general span {
	font-size: 14px !important;
}

.page_taxon_general_prompt {

}

.page_taxon_general_value {

}

.page_taxon_section_header {
	width: 100%;
 	/*height: 100%;*/
 	background-color: #DFE8F6 !important;
}

.page_taxon_section_content_basic {
	min-height: 30px !important;
}

.page_taxon_section_header .x-border-panel {
 	background-color: #DFE8F6 !important;
}

.page_taxon_section_header span {
 	font-weight: bold !important;
 	font-size: 12px !important;
}

.page_taxon_section_view_all {
	text-align: center;	
}

.page_workingSet_featured_header {
	color: #a72625;
	font-size: 18px !important;
	font-weight: bold;
	width: 100%;
}

.page_workingSet_featured_prompt {
	font-weight: bold !important;
	font-size: 12px !important;
}

.page_workingSet_featured_content {
	font-size: 12px !important;	
}

.page_assessment_featured_header {
	color: #a72625;
	font-size: 18px !important;
	margin-top: 5px !important;
	font-weight: bold;
	width: 100%;
}

.page_assessment_featured_prompt {
	font-weight: bold !important;
	font-size: 12px !important;
}

.page_assessment_featured_content {
	font-size: 12px !important;
}

.page_assessment_featured_content_common_name {
	font-size: 14px !important;
	font-weight: bold;
	font-style: italic !important;
	text-align: center !important;
	width: 100%;
}

.page_assessment_featured_needsUpdating {
	font-style: italic !important;
	font-size: 11px !important;	
}

.page_assessment_body {
	border-left: 1px solid #CEDCE9 !important;	
}

.page_assessment_trackChanges_edits {
	border-bottom: 1px dotted black;
}

.page_assessment_trackChanges_edits_user {
	font-weight: bold !important;
	font-size: 12px !important;
}

.page_assessment_classScheme_grid {
	border: 0px solid black !important;	
}

.page_assessment_classScheme_grid th, .page_assessment_classScheme_grid td {
	border: 1px solid #CEDCE9 !important;
	border-collapse: collapse !important;
	padding: 5px !important;
}

.page_assessment_classScheme_grid_th {
	font-weight: bold !important;	
}

.page_assessment_classScheme_header {
	background-color: #CEDCE9 !important;	
}

.notes_entry {
	border-bottom: 1px solid black !important;
	width: 100%;
}

.notes_entry_html {
	font-size: 14px !important;
}

.icon-zendesk {
	background: url(../tango/status/weather-severe-alert.png) no-repeat !important;	
	
}

.icon-header-options {
	background: url(../images/emblem-system-32.png) no-repeat !important;	
}

.icon-header-zendesk {
	background: url(../images/zendesk-32.png) no-repeat !important;
}

.icon-header-logout {
	background: url(../images/logout-32.png) no-repeat !important;
}

.icon-gear {
	background: url(../tango/emblems/emblem-system.png) no-repeat !important;	
}

.icon-start-here {
	background: url(../tango/places/start-here.png) no-repeat !important;
}

.icon-bomb {
	background: url(../images/bomb.png) no-repeat !important;
}

.icon-undo {
	background: url(../images/arrow_undo.png) no-repeat !important;
}

.icon-taxomatic-history {
	background: url(../tango/actions/format-justify-fill.png) no-repeat !important;	
}

.icon-text-bold {
	background: url(../tango/actions/format-text-bold.png) no-repeat !important;
}

.icon-attachment{
	background: url(../tango/status/mail-attachment.png) no-repeat !important;
}
.icon-image {
	background: url(../tango/mimetypes/image-x-generic.png) no-repeat !important;
}
.icon-asterisk-orange {
	background: url(../images/icon-asterisk-orange.png) no-repeat !important;
}

.icon-cross {
	background: url(../images/icon-cross.png) no-repeat !important;
}

.icon-refresh {
	background: url(../tango/actions/view-refresh.png) no-repeat !important;
}

.icon-add {
	background: url(../images/add.png) no-repeat !important;
}

.icon-accept {
	background: url(../images/icon-accept.png) no-repeat !important;
}

.icon-page-copy {
	background: url(../images/icon-page-copy.png) no-repeat !important;
}

.icon-copy {
	background: url(../tango/actions/edit-copy.png) no-repeat !important;
}

.icon-paste {
	background: url(../tango/actions/edit-paste.png) no-repeat !important;
}

.icon-open-folder {
	background: url(../tango/actions/document-open.png) no-repeat !important;
}

.icon-remove {
	background: url(../images/icon-delete.png) no-repeat !important;
}

.icon-user-go {
	background: url(../images/icon-user-go.png) no-repeat !important;	
}

.icon-user-add {
	background: url(../images/user_add.png) no-repeat !important;
}

.icon-user-delete {
	background: url(../images/user_delete.png) no-repeat !important;	
}

.icon-user-comment {
	background: url(../images/user_comment.png) no-repeat !important;	
}

.icon-user-green {
	background: url(../images/icon-user-green.png) no-repeat !important;	
}

.icon-user-suit {
	background: url(../images/user_suit.png) no-repeat !important;	
}
.icon-user-group-edit {
	background: url(../images/group_edit.png) no-repeat !important;	
}
.icon-user-group {
	background: url(../images/group.png) no-repeat !important;	
}

.icon-move {
	background: url(../tango/actions/edit-redo.png) no-repeat !important;
}

.icon-go-jump {
	background: url(../tango/actions/go-jump.png) no-repeat !important;
}

.icon-go-top {
	background: url(../tango/actions/go-top.png) no-repeat !important;
}

.icon-virus {
	background: url(../tango/actions/media-record.png) no-repeat !important;
}

.icon-tag-management {
	background: url(../tango/mimetypes/text-x-script.png) no-repeat !important;
}

.icon-compose-mail {
	background: url(../tango/actions/mail-message-new.png) no-repeat !important;
}

.icon-information {
	background: url(../images/icon-information.png) no-repeat !important;
}

.icon-help {
	background: url(../images/icon-help.png) no-repeat !important;
}

.icon-lock {
	background: url(../images/icon-lock.png) no-repeat !important;
}

.icon-read-only {
	background: url(../tango/emblems/emblem-readonly.png) no-repeat !important;
}

.icon-unlocked {
	background: url(../tango/emblems/emblem-unlocked.png) no-repeat !important;
}

.icon-pencil {
	background: url(../images/pencil-icon.jpg) no-repeat !important;
}

.icon-spreadsheet {
	background: url(../tango/mimetypes/x-office-spreadsheet.png) no-repeat !important;
}

.icon-tag {
	background: url(../images/tag-icon.png) no-repeat !important;
}

.icon-attr {
	background: url(../images/tag-icon2.png) no-repeat !important;
}

.icon-monkey-face {
	/* background: url(../images/icon-arrow-join.png) no-repeat !important;*/
	background: url(../images/icon-face-monkey.png) no-repeat !important;
}

.icon-tree {
	background: url(../images/icon-chart-organisation.png) no-repeat !important;
}

.icon-bullet-arrow-down {
	background: url(../images/icon-bullet-arrow-down.png) no-repeat !important;
}

.icon-note-add {
	background: url(../images/icon-note-add.png) no-repeat !important;
}

.icon-report{
		background: url(../images/icon-report.png) no-repeat !important;
}
	
.icon-note-edit {
	background: url(../images/icon-note-edit.png) no-repeat !important;
}

.icon-note-delete {
	background: url(../images/icon-note-delete.png) no-repeat !important;
}

.icon-note-go {
	background: url(../images/icon-note-go.png) no-repeat !important;
}

.icon-note-grey {
	background: url(../images/icon-note-grey.png) no-repeat !important;	
}

.icon-note {
	background: url(../images/icon-note.png) no-repeat !important;
}

.icon-book {
	background: url(../images/icon-book.png) no-repeat !important;
}

.icon-book-grey {
	background: url(../images/icon-book-grey.png) no-repeat !important;	
}

.icon-book-open {
	background: url(../images/icon-book-open.png) no-repeat !important;
}

.icon-book-delete {
	background: url(../images/icon-book-delete.png) no-repeat !important;
}

.icon-book-go {
	background: url(../images/icon-book-go.png) no-repeat !important;
}

.icon-book-add {
	background: url(../images/icon-book-add.png) no-repeat !important;
}

.icon-book-edit {
	background: url(../images/icon-book-edit.png) no-repeat !important;
}

.icon-copy {
	background: url(../tango/actions/edit-copy.png) no-repeat !important;
}

.icon-next {
	background: url(../tango/actions/go-next.png) no-repeat !important;
}

.icon-previous {
	background: url(../tango/actions/go-previous.png) no-repeat !important;
}

.icon-up {
	background: url(../tango/actions/go-up.png) no-repeat !important;	
}

.icon-down {
	background: url(../tango/actions/go-down.png) no-repeat !important;	
}

.icon-symbolic-link {
	background: url(../tango/emblems/emblem-symbolic-link.png) no-repeat !important;
}

.icon-summary {
	background: url(../tango/categories/preferences-desktop.png) no-repeat !important;
}

.icon-changes {
	background: url(../tango/actions/media-skip-backward.png) no-repeat !important;
}

.icon-comments {
	background: url(../tango/emotes/face-smile.png) no-repeat !important;
}

.icon-assessmentoptions {
	background: url(../tango/categories/preferences-system.png) no-repeat !important;
}

.icon-assessmentoptions-orange {
	background: url(../tango/categories/preferences-system-orange.png)
		no-repeat !important;
}

.icon-preferences-wrench {
	background: url(../images/icon-wrench.png) no-repeat !important;
}

.icon-preferences-wrench-orange {
	background: url(../images/icon-wrench-orange.png) no-repeat !important;
}

.icon-preferences-wrench-green {
	background: url(../images/icon-wrench-green.png) no-repeat !important;
}

.icon-bookmark {
	background: url(../tango/actions/bookmark-new.png) no-repeat !important;
}

.icon-new-bookmark {
	background: url(../tango/actions/bookmark-new.png) no-repeat !important;
}

.icon-new-document {
	background: url(../tango/actions/document-new.png) no-repeat !important;
}

.icon-editDocument {
	background: url(../images/application_form_edit.png) no-repeat !important;
}

.icon-arrow-right {
	background: url(../images/icon-arrow-right.png) no-repeat !important;
}

.icon-arrow-left {
	background: url(../images/icon-arrow-left.png) no-repeat !important;
}

.icon-hierarchy {
	background: url(../images/icon-tree.png) no-repeat !important;
}

.icon-search {
	/* background: url(../tango/actions/system-search.png) no-repeat !important;*/
	background: url(../images/icon-magnify.png) no-repeat !important;
}

.icon-search-add {
	background: url(../images/icon-search-add.png) no-repeat !important;
}

.icon-browse-add {
	background: url(../images/icon-browse-add.png) no-repeat !important;
}


.icon-save {
	background: url(../tango/devices/media-floppy.png) no-repeat !important;
}

.icon-save-and-exit {
	background: url(../tango/devices/media-flash.png) no-repeat !important;
}

.icon-cancel {
	background: url(../images/icon-cancel.png) no-repeat !important;
}

.icon-trash {
	background: url(../tango/places/user-trash.png) no-repeat !important;
}

.icon-expert {
	background: url(../tango/devices/computer.png) no-repeat !important;
}

.icon-world-add {
	background: url(../images/world_add.png) no-repeat !important;
}

.icon-world-delete {
	background: url(../images/world_delete.png) no-repeat !important;
}

.icon-world-edit {
	background: url(../images/world_edit.png) no-repeat !important;
}

.icon-world-go {
	background: url(../images/world_go.png) no-repeat !important;
}

.icon-world {
	background: url(../images/world.png) no-repeat !important;
}

.icon-thumbs-up {
	background: url(../images/thumb_up.png) no-repeat !important;
}

.icon-thumbs-down {
	background: url(../images/thumb_down.png) no-repeat !important;
}

.icon-application-list {
	background: url(../images/application_view_list.png) no-repeat !important;
}

.icon-summary {
	background: url(../tango/apps/accessories-text-editor.png) no-repeat !important;
}

.icon-folder-add {
	background: url(../images/folder-add.png) no-repeat !important;
}

.icon-folder-delete {
	background: url(../images/folder-delete.png) no-repeat !important;
}

.icon-delete-image {
		background: url(../tango/status/image-missing.png) no-repeat !important;
}

.icon-favorite {
		background: url(../tango/emblems/emblem-favorite.png) no-repeat !important;
}
	
.icon-edit-image {
		background: url(../tango/actions/edit-find-replace.png) no-repeat !important;
}

.icon-prefs {
		background: url(../tango/categories/preferences-system-orange.png) no-repeat !important;
}

.icon-find {
	background: url(../images/icon-find.png) no-repeat !important;
}

.icon-merge {
	background: url(../images/arrow_in.png) no-repeat !important;
}

.icon-merge-up {
	background: url(../images/arrow_merge.png) no-repeat !important;
}
.icon-split {
	background: url(../images/arrow_out.png) no-repeat !important;
}

.icon-lateral-move {
	background: url(../images/arrow_right.png) no-repeat !important;
}

.icon-promote {
	background: url(../images/arrow_up.png) no-repeat !important;
}

.icon-demote {
	background: url(../images/arrow_down.png) no-repeat !important;
}

.icon-document-move {
	background: url(../tango/actions/document-properties.png) no-repeat !important;
}

.icon-integrity {
	background: url(../tango/mimetypes/application-certificate.png) no-repeat !important;	
}

.icon-workflow {
	background: url(../tango/apps/system-software-update.png) no-repeat !important;
}

.align-right {
	text-align: right;
}

.align-left {
	text-align: left;
}

.SIS_dashboard {
	background-color: #E8F3FF;
	color: #000000;
	/* padding: 5px; */
}

.expert-background {
	background: url(../images/expertBackground1.png) no-repeat !important;
}

.expert-border {
	border: 1px thin #00428C;
}

.expert-criteria-error {
	color: red;
	font-weight: bold;
}

.summary-border {
	border-top: 2px thin #00428C;
	border-bottom: 2px thin #00428C;
	border-left: 2px thin #00428C;
	border-right: 2px thin #00428C;
	width: 100%;
}

.background {
	background-color: #E8F3FF;
}

.expert-line {
	background: url(../images/line.png);
}

.expert-diamond {
	background: url(../images/diamond2.png) no-repeat !important;
}

.expert-title {
	font-size: 14px;
	color: #00428C;
}

.expert-criteria {
	background-color: #DFE8F6;
	color: #00428C;
	font-size: 11px;
}

.scientific_name {
	font-style: italic;
}

.vertical-align-top {
	vertical-align: top;
}

.vertical-align-bottom {
	vertical-align: bottom;
}

.float-left {
	float: left;
}

.set-height-30 {
	height: "50px";
}

.SIS_dashboardSection {
	border: 1px dotted #00428C;
	padding: 5px;
}

.SIS_dashboardInnerSection {
	padding: 2px;
}

.SIS_dashboardPanel {
	background-color: #E8F3FF;
	border: 1px outset #00428C;
	padding: 10px;
}

.SIS_dashboardPanelMoving {
	border: 1px dashed #C01B24;
	padding: 5px;
	opacity: .5;
	filter: alpha(opacity = 50);
}

.SIS_dashboardPanelHeader {
	color: #000000;
	font-size: medium;
	font-weight: bold;
	padding-bottom: 10px;
}

.SIS_iconPanel {
	border: 2px groove #CEDCE9;
}

.SIS_iconPanelIcon {
	border: 1px groove #FFFFFF;
	cursor: pointer;
}

.SIS_HyperlinkLookAlike {
	color: #7777ff;
	text-decoration: underline;
	cursor: pointer;
}

.SIS_HyperlinkBehavior {
	cursor: pointer;
}

.SIS_display {
	
}

.SIS_hasSmallerHTML .gwt-HTML {
	font-size: smaller;
}

.SIS_inline {
	display: inline;
}

/**
 * SETS UP THE LEFT OFFSET FOR ALL 
 * PANELS IN THE CONTENT AREA
 */
.LEFT_OFFSET,.SIS_ModuleInnerPanel,SIS_loadingScreen,.SIS_titleBar,.SIS_popupPanel
	{
	left: 210px;
}

/**************** SIS MAIN PAGE ********************/
.SIS_loading {
	cursor: wait;
}

.SIS_loadingScreen {
	position: absolute;
	z-index: 21;
	top: 60px;
	border: 3px solid white;
	background-color: #CEDCE9;
	margin: 0px auto;
	text-align: center;
}

.SIS_Header_Summary {
	background-color: #CEDCE9;
	background-image: url("../images/gradient.png");
	background-repeat: no-repeat;
	!important;
}

SIS_Header_Summary_Title {
	background-color: #CEDCE9;
	font-size: 16px;
	font-weight: bold;
}

.SIS_searchResults {
	background-color: #CEDCE9;
}

.SIS_spinner {
	position: absolute;
	margin: 0px auto;
	text-align: center;
	margin-left: 50px;
}

.SIS_titleBar {
	position: absolute;
	z-index: 7;
	top: 0px;
	background-color: #CEDCE9;
}

.SIS_titleBarText,.SIS_titleBarLink {
	font-size: 20px;
	font-weight: bold;
}

.SIS_titleBarLink {
	color: blue;
	text-decoration: underline;
	cursor: pointer;
}

.SIS_sideBar { /* The whole StackPanel sidebar */
	position: absolute;
	top: 80px;
	left: 3px;
	z-index: 19;
	background-color: #CCFFCC;
	border: 4px inset #00428c;
}

.SIS_sideBarHeaders { /* Just the buttons with text as headers */
	background-color: white;
	font-family: Verdana;
	font-size: 11px;
	font-weight: bold;
	color: #c01b24;
	border: 1px groove #00428c;
	/*width: 100%;*/ /*margin-left: 1px;*/
	margin-right: 1px;
	cursor: pointer;
}

.SIS_sideBarHeaders:hover {
	background-color: #CEDCE9;
	border: 1px groove #C01B24;
}

.SIS_sideBarFullHeader {
	/* The Image (if there) and the sideBarHeader header button */
	/*border: 1px groove #000000;*/
	text-align: center;
	margin: 0px auto;
	margin-top: 5px;
	width: 100%;
	/*max-width: 120px;*/
	cursor: pointer;
}

.SIS_sideBarWidget {
	/* The panel containing the sideBar for a given Module */
	border: 1px dashed #00428C;
	/*	background-color: #CEDCE9;*/
	background-color: #DEDEDE;
	margin-left: 4px;
	margin-right: 2px;
	margin-top: 0px;
	margin-bottom: 4px;
	padding: 2px;
}

.SIS_sideBarViewButton { /* Any buttons a sideBarWidget may have */
	background-color: #CEDCE9;
	font-family: Verdana;
	font-size: 12px;
	color: #00428C;
	border: 2px outset #00428C;
	width: 100%;
	margin: 2px;
	font-weight: bold;
	margin-left: 15px;
}

.SIS_sideBarViewButtonSelected {
	/* Any buttons a sideBarWidget may have */
	background-color: #00428C;
	font-family: Verdana;
	font-size: 12px;
	color: #CEDCE9;
	border: 2px inset #DEDEDE;
	width: 100%;
	margin: 2px;
	font-weight: bold;
	margin-left: 15px;
}

.SIS_logoImage {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 2;
}

.SIS_ModuleOptionPanel { /*position: relative;*/
	display: block;
	height: 100%;
	background-color: #CCFFCC;
}

.SIS_statusBar {
	background-color: #D4E6FB;
	border: 1px groove black;
	padding: 4px;
}

.SIS_statusMovingBg {
	background-color: white;
	border: 1px groove black;
	margin: 0px auto;
	text-align: center;
}

.SIS_statusMovingFg {
	background-color: blue;
}

.SIS_statusMovingPercentage {
	margin: 0px auto;
	text-align: center;
}

.SIS_ModuleInnerPanel { /* Inner panel */
	position: absolute;
	z-index: 6;
	top: 80px;
	background-color: #EEEEEE;
}

.SIS_ModuleFrame { /* Scrollable panel */
	position: absolute;
	left: 0px;
	top: 0px;
	background-color: #eeeeee;
	background-image: url("../images/sisTableBg.gif");
	background-repeat: repeat-y;
	z-index: 1;
}

.gwt-menuBar {
	background-image: url("../images/menubarlogo.gif");
	background-repeat: no-repeat;
	background-color: #00428c;
}

.gwt-MenuItem {
	background: #FFFFFF;
	color: #c01b24;
	font-weight: bold;
	text-decoration: underline;
	border: none;
	padding: 1px 4px 1px 4px;
	cursor: pointer;
	cursor: hand;
}

.gwt-MenuItem-selected {
	background: #FFFFFF;
	color: #c01b24;
}

/******************* SIS DEM MODULE ************************/
.SIS_contentTable {
	background-color: #E8F3FF;
	border: 2px inset #EEEEEE;
	padding: 10px;
}

.SIS_contentTableRow {
	background-color: #E8F3FF;
	border-color: #000000;
	border-width: 2px;
	border-style: groove;
	padding: 5px;
	width: 100%;
}

.SIS_contentTableCell { /*background-color: #CCFFCC;*/
	border: 1px dotted #444444;
	/*padding: 5px;*/
	vertical-align: middle;
	text-align: center;
	/*width: 100%;*/
}

.SIS_titleTableRow {
	background-color: #CCCCCC;
	color: 00428c;
	font-weight: bolder;
}

.SIS_dataBrowserCustomText_text {
	
}

.SIS_dataBrowserCustomText_h1 {
	font-weight: bold !important;
	font-size: 18px !important;
	padding: 4px !important;
}

.SIS_dataBrowserCustomText_h2 {
	font-weight: bold !important;
	font-size: 16px !important;
	padding: 4px !important;
}

.SIS_dataBrowserCustomText_h3 {
	font-weight: bold !important;
	font-size: 14px !important;
	padding: 4px !important;
}

.SIS_dataBrowserCustomText_warning {
	font-weight: bold !important;
	font-size: 14px !important;
	color: red !important;
	padding: 10px !important;
	text-align: left !important;
}

.SIS_dataBrowserCustomText_information {
	font-weight: bold !important;
	font-size: 14px !important;
	padding: 10px !important;
	text-align: left !important;
}

.SIS_dataBrowserCustomText_container, .SIS_dataBrowserCustomText_h1, 
.SIS_dataBrowserCustomText_h2, .SIS_dataBrowserCustomText_h3, 
.SIS_dataBrowserCustomText_warning, .SIS_dataBrowserCustomText_information {
	background-color: #E8F3FF !important;
}

.SIS_oneToManyDescription {
	font-weight: bold !important;	
}

.SIS_oneToMany_sideBar {
	border-left: 5px solid #CEDCE9 !important;
	margin-left: 5px !important;
	padding: 2px !important;
}

/******************* TAXOMATIC MODULE ******************/
.SIS_taxomaticTable {
	border: 1px solid #CEDCE9;
	background-color: #00428C;
	padding: 4px;
}

.SIS_taxomaticContentPanel {
	border: #CEDCE9;
	background-color: #FFFFFF;
	padding: 4px;
}

.SIS_unselectedCell {
	border: 2px solid #FFFFFF;
}

.SIS_selectedCell {
	border: 2px solid #C01B24;
}

.SIS_taxonDescription {
	position: absolute;
	bottom: 10px;
	left: 80px;
	background-color: #CEDCE9;
	color: #00428C;
	font-weight: bold;
	border: 2px outset #00428C;
}

.SIS_taxonDescriptionHeader {
	color: #00428C;
	background-color: #EEEEEE;
	font-weight: bold;
	width: 100%;
}

.widgetBorder {
	border: 1px solid #444444;
}

.borderTop {
	border-top: 1px solid #444444;	
}
.SIS_taxonDescriptionTable {
	width: 100%;
	height: 100%;
	border: 2px solid #444444;
}

.SIS_tableBackground {
	background-color: #EEEEEE;
}

.SIS_taxonDescriptionTableCell {
	vertical-align: top;
	border: 1px solid #444444;
}

.SIS_taxonDescriptionTable .gwt-HTML {
	color: #00428C;
	/*	font-weight: bold; */
}

.SIS_taxonSummaryHeader {
	color: #a72625;
	font-size: 18px !important;
	font-weight: bold;
	width: 100%;
}

.SIS_taxonSummaryHeader_link {
	color: #a72625;
	font-size: 18px;
	font-weight: bold;
	cursor: pointer;
}

.SIS_taxonSummaryHeader_assessHeader {
	font-size: 6px;
	width: 100%;
}

.SIS_taxonSummaryHeader_panel {
	background-image: url("../images/vgradient.png");
	background-color: white;
	width: 100%;
	padding: 4px;
}

.SIS_taxonSummaryHeader_mapPanel {
	background-color: #00428C;
	width: 100%;
	text-align: center;
}

.SIS_taxonSummaryHeader_image {
	cursor: pointer;
}

/********************* EXPERT SYSTEM *******************/
.SIS_expertFullPanel {
	background-color: #FFFFFF;
	border: 2px groove #000000;
}

.SIS_smallExpertText {
	font-size: 8pt;
}

.SIS_bigExpertText {
	font-size: 12pt;
	font-weight: bold;
	/*	text-shadow: #CCFFCC;*/
}

.SIS_expertResults {
	text-align: center;
	border-width: 1px;
	border-style: solid;
}

.SIS_expertButton {
	position: absolute;
	top: 40px;
	right: 5px;
	font-family: Arial, Verdana, sans-serif;
	font-size: 10pt;
	border: 2px outset #00428c;
	background-color: #FFFFFF;
}

/******************* 2) DISPLAYS      ******************/
.SIS_Map_EditBanner { /*Says "edit points" in a maps text area*/
	border: 1px solid #DFE8F6;
	padding: 4px;
}

.SIS_ThreatLabel,.SIS_ThreatLabelActive {
	border: 0px solid #000000;
	font-size: 10pt;
	color: black;
	font-weight: bold;
	background-color: #DFE8F6;
}

.SIS_ThreatLabelActive {
	color: blue;
}

/* THESE ARE DEFAULT SIS_PAGE STYLES! */
.SISPage_Title,.SISPage_Body,.SISPage_Footer {
	border: 2px groove #000000;
	background-color: #DFE8F6;
	/*width: 600px;*/
	height: 100%;
}

.SISPage_Title { /*position: relative;*/ /*left: 80px;*/
	width: 100%;
	padding: 4px;
	background-color: #444444;
	color: #FFFFFF;
	font-size: 20px;
	/*	text-shadow: 1px black;*/
	text-align: left;
}

.SISPage_Field { /*	font-size: 10px;
	font-weight: bold; */
	border: 1px outset #000000;
}

.SISPage_Footer {
	text-align: center;
	width: 100%;
	/*


	position: absolute;
	bottom: 0px;
	right: 0px;
	float: left;
	*/
}

/* END DEFAULT SIS_PAGE STYLES */
	/******************* 3) GENERAL STUFF ******************/
.gwt-DialogBox {
	position: absolute;
	border: 2px outset;
	background-color: white;
}

.gwt-DialogBox .Caption {
	background-color: #C3D9FF;
	padding: 3px;
	margin: 2px;
	font-weight: bold;
	cursor: move;
}

.SIS_loginTheme {
	padding-left: 5px;
}

.SIS_loginHeaderImage {
	margin-top: 15px;
	margin-left: 50px;
}

.SIS_smallButton {
	font-size: 6pt;
	font-weight: bold;
}

.SIS_smallExpertText {
	font-size: 8pt;
}

.SIS_bigExpertText {
	font-size: 12pt;
	font-weight: bold;
	text-shadow: #CCFFCC;
}

.SIS_expertResults {
	text-align: center;
	border-width: 1px;
	border-style: solid;
}

.SIS_expertButton {
	position: absolute;
	top: 40px;
	right: 5px;
	font-family: Arial, Verdana, sans-serif;
	font-size: 10pt;
	border: 2px outset #00428c;
	background-color: #FFFFFF;
}

.SIS_menuButton,.SIS_menuButtonSelected {
	border: 2px outset blue;
	background-color: #FFFFFF;
	color: #c01b24;
	font-family: Verdana;
	font-weight: bold;
	font-size: 8pt;
	padding: 0px;
}

.SIS_menuButtonSelected {
	border: 2px inset blue;
	background-color: #c01b24;
	color: white;
}

.SIS_longButton {
	font-family: Arial, Verdana, sans-serif;
	font-size: 10pt;
	border: 2px outset #00428c;
	background-color: #FFFFFF;
}

.SIS_logoPanel {
	position: absolute;
	left: 0px;
	top: 20px;
	background-repeat: no-repeat;
	background-image: url("../images/sislogo.gif");
}

.SIS_headerPanel { /*#DFE8F6position: absolute;
	right: 0px;
	top: 0px;*/
	vertical-align: middle;
	background-color: #EEEEEE;
	z-index: 3;
}

.SIS_footerPanel {
	position: absolute;
	bottom: 0px;
	left: 0px;
	background-color: #CEDCE9;
	padding: 4px;
	width: 100%;
	border: 2px groove white;
}

.SIS_buttonPanel {
	position: absolute;
	left: 0px;
	top: 80px;
	background-color: #FFFFFF;
}

.SIS_tablePanel { /*position: absolute;*/ /*left: 250px;*/
	/*top: 80px;*/
	width: 100%;
	padding: 0px;
}

.SIS_Modified {
	color: red;
	font-weight: bold;
}

.SIS_Stresses,.SIS_Notes {
	position: absolute;
	bottom: 10px;
}

.SIS_Notes {
	right: 40px;
}

.SIS_CenteredPage {
	margin: 0px auto;
	margin-top: 20px;
	text-align: center;
}

.autoHeight {
	
}

.standout {
	background-color: yellow;
	border: 4px solid orange;
}

.standout2 {
	background-color: blue;
	border: 4px solid red;
}

.SIS_AutoCompleteChoices {
	position: absolute;
	z-index: 17;
}

.contentHeader {
	background-color: #cedce9;
	padding-top: 6px;
	padding-right: 10px;
	padding-bottom: 6px;
	padding-left: 10px;
	border-top-width: 1px;
	border-top-style: solid;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	border-top-color: #749bbf;
	font-weight: bold;
}

/************** LOGIN PAGE ****************/
.SIS_loginPanel {
	margin: 0px auto;
	margin-top: 20px;
	text-align: center;
	border: 1px solid #CEDCE9;
}

.SIS_loginContentArea {
	background-image: url("../images/sisTableBg.gif");
	background-repeat: repeat-y;
	background-color: #eeeeee;
}

.SIS_loginDescription {
	padding: 5px;
}

.SIS_loginMessage {
	padding-bottom: 4px;
	padding-top: 4px;
	color: #C01B24;
	font-weight: bold;
}

.SIS_loginFields {
	text-align: center;
	/*margin-top: 40px;*/
	background-color: #CEDCE9;
	border: 3px solid #ffffff;
	padding: 20px;
}

.SIS_contextMenuBar {
	position: absolute;
	background-color: red;
	z-index: 20;
}

.SIS_popupPanel {
	position: absolute;
	top: 80px;
	z-index: 18;
}

/***************** FLIP BOOK ***********************/
.SIS_FlipBook,.SIS_FlipBookTitle,.SIS_FlipBookPagePanel,.SIS_FlipBookFooterScroll
	{
	margin: 0px auto;
	text-align: center;
	/*height: 400px;*/
}

.SIS_FlipBookTitle {
	font-weight: bold;
	font-size: 14pt;
	background-color: #CEDCE9;
	border: 1px outset white;
}

.SIS_FlipBookPagePanel {
	border: 1px solid white;
	background-color: #CEDCE9;
}

.SIS_FlipBookFooterScroll {
	border: 1px outset white;
	background-color: #CEDCE9;
}

.SIS_FlipBookScrollPrev,.SIS_FlipBookScrollNext {
	
}

.SIS_FlipBookPage {
	border: 1px groove white;
	background-color: #CEDCE9;
}

.SIS_FlipBookPageNum,.SIS_FlipBookPageTitle,.SIS_FlipBookPageStatus {
	background-color: #CCFFCC;
	border: 1px groove black;
	padding: 4px;
}

/**************** SIS_GWT_TREE ****************/
.SIS_gwtTreeButton {
	border: 1px solid black;
}

.SIS_gwtTreeRow {
	padding: 2px;
}

.gwt-Tree {
	margin-top: 1em;
	margin-bottom: 1em;
}

.gwt-Tree .gwt-TreeItem {
	cursor: default;
}

.gwt-Tree .gwt-TreeItem-selected {
	background-color: #C3D9FF;
}

/* GWT RichTextEditor */
.gwt-RichTextArea {
}

.hasRichTextToolbar {
  border: 0px;
}

.gwt-RichTextToolbar {
  background: #e3e8f3 url(../images/hborder.png) repeat-x 0px -2003px;
  border-bottom: 1px solid #BBBBBB;
  padding: 3px;
  margin: 0px;
}

.gwt-PushButton-up {
	border-style:solid;
	cursor:pointer;
}

.gwt-RichTextToolbar .gwt-PushButton-up {
  padding: 0px 1px 0px 0px;
  margin-right: 4px;
  margin-bottom: 4px;
  border-width: 1px; 
}

.gwt-RichTextToolbar .gwt-PushButton-up-hovering {
  margin-right: 4px;
  margin-bottom: 4px;
  padding: 0px 1px 0px 0px;
  border-width: 1px; 
}

.gwt-RichTextToolbar .gwt-PushButton-down {
  margin-right: 4px;
  margin-bottom: 4px;
  padding: 0px 0px 0px 1px;
  border-width: 1px; 
}

.gwt-RichTextToolbar .gwt-PushButton-down-hovering {
  margin-right: 4px;
  margin-bottom: 4px;
  padding: 0px 0px 0px 1px;
  border-width: 1px; 
}

.gwt-RichTextToolbar .gwt-ToggleButton-up {
  margin-right: 4px;
  margin-bottom: 4px;
  padding: 0px 1px 0px 0px;
  border-width: 1px;
}

.gwt-RichTextToolbar .gwt-ToggleButton-up-hovering {
  margin-right: 4px;
  margin-bottom: 4px;
  padding: 0px 1px 0px 0px;
  border-width: 1px;
}

.gwt-RichTextToolbar .gwt-ToggleButton-down {
  margin-right: 4px;
  margin-bottom: 4px;
  padding: 0px 0px 0px 1px;
  border-width: 1px;
}

.gwt-RichTextToolbar .gwt-ToggleButton-down-hovering {
  margin-right: 4px;
  margin-bottom: 4px;
  padding: 0px 0px 0px 1px;
  border-width: 1px;
}

.gwt-ToggleButton-up,
.gwt-ToggleButton-up-hovering,
.gwt-ToggleButton-up-disabled,
.gwt-ToggleButton-down,
.gwt-ToggleButton-down-hovering,
.gwt-ToggleButton-down-disabled {
  margin: 0;
  text-decoration: none;
  background: url("images/hborder.png") repeat-x 0px -27px;
}
.gwt-ToggleButton-up,
.gwt-ToggleButton-up-hovering,
.gwt-ToggleButton-up-disabled {
  padding: 3px 5px 3px 5px;
}
.gwt-ToggleButton-up {
  border: 1px outset #ccc;
  cursor: pointer;
  cursor: hand;
}
.gwt-ToggleButton-up-hovering {
  border: 1px outset;
  border-color: #9cf #69e #69e #7af;
  cursor: pointer;
  cursor: hand;
}
.gwt-ToggleButton-up-disabled {
  border: 1px outset #ccc;
  cursor: default;
  opacity: .5;
  zoom: 1;
  filter: alpha(opacity=40);
}
.gwt-ToggleButton-down,
.gwt-ToggleButton-down-hovering,
.gwt-ToggleButton-down-disabled {
  padding: 4px 4px 2px 6px;
}
.gwt-ToggleButton-down {
  background-position: 0 -513px;
  border: 1px inset #ccc;
  cursor: pointer;
  cursor: hand;
}
.gwt-ToggleButton-down-hovering {
  background-position: 0 -513px;
  border: 1px inset;
  border-color: #9cf #69e #69e #7af;
  cursor: pointer;
  cursor: hand;
}
.gwt-ToggleButton-down-disabled {
  background-position: 0 -513px;
  border: 1px inset #ccc;
  cursor: default;
  opacity: .5;
  zoom: 1;
  filter: alpha(opacity=40);
}

.gwt-PushButton-up,
.gwt-PushButton-up-hovering,
.gwt-PushButton-up-disabled,
.gwt-PushButton-down,
.gwt-PushButton-down-hovering,
.gwt-PushButton-down-disabled {
  margin: 0;
  text-decoration: none;
  background: url("images/hborder.png") repeat-x 0px -27px;
}
.gwt-PushButton-up,
.gwt-PushButton-up-hovering,
.gwt-PushButton-up-disabled {
  padding: 3px 5px 3px 5px;
}
.gwt-PushButton-up {
  border: 1px outset #ccc;
  cursor: pointer;
  cursor: hand;
}
.gwt-PushButton-up-hovering {
  border: 1px outset;
  border-color: #9cf #69e #69e #7af;
  cursor: pointer;
  cursor: hand;
}
.gwt-PushButton-up-disabled {
  border: 1px outset #ccc;
  cursor: default;
  opacity: .5;
  filter: alpha(opacity=40);
  zoom: 1;
}
.gwt-PushButton-down,
.gwt-PushButton-down-hovering,
.gwt-PushButton-down-disabled {
  padding: 4px 4px 2px 6px;
}
.gwt-PushButton-down {
  border: 1px inset #666;
  cursor: pointer;
  cursor: hand;
}
.gwt-PushButton-down-hovering {
  border: 1px inset;
  border-color: #9cf #69e #69e #7af;
  cursor: pointer;
  cursor: hand;
}
.gwt-PushButton-down-disabled {
  border: 1px outset #ccc;
  cursor: default;
  opacity: 0.5;
  filter: alpha(opacity=40);
  zoom: 1;
}


.cw-RichText {
  border: 1px solid #BBBBBB;
  border-spacing: 0px;
  background-color: #FFF;
}

/* SIS TAB PANEL AND TABS */
.gwt-TabPanel {
	border: 1px solid #cedce9;
	padding-left: 5px;
}

.gwt-TabPanelBottom {
	border: 1px solid #f0f0f0;
}

.gwt-TabBar {
	
}

.gwt-TabBar .gwt-TabBarFirst {
	
}

.gwt-TabBar .gwt-TabBarRest {
	
}

.gwt-TabBar .gwt-TabBarItem {
	border-left: 1px solid #749bbf;
	border-right: 1px solid #749bbf;
	border-top: 1px solid #749bbf;
	padding-left: 2px;
	padding-right: 2px;
	margin-right: 5px;
	color: #707070;
	cursor: pointer;
}

.gwt-TabBar .gwt-TabBarItem-selected {
	color: #000000;
}

.tdx {
	border: 1px dashed #eeeeee;
}

/*** Workflow Styling **/

.sis_workflow_notes_header {
	font-size: 16px !important;
	font-weight: bold;
	padding: 3px;
}

.workflow-comment, .workflow-comment-alternate {
	font-size: 12px !important;
}

.workflow-comment-alternate {
		
}

.publication_priority_high {
	background-color: #FF5555;
}

.publication_priority_low {
	background-color: #DDD;	
}

/*** Integrity Validation Results Styling **/

.sis_integrity_header {
	font-size: 16px !important;
	font-weight: bold;
	border-bottom: 1px solid black;
	width: 100%;
}

.sis_integrity_success, .sis_integrity_failure {
	padding: 6px;
	font-size: 12px !important;
}

.sis_integrity_success {
	color: green;	
	font-weight: bold !important;
}

.sis_integrity_failure {
	/* color: red; */	
}

.icon_integrity_add {
	background: url(../images/add.png) no-repeat !important;	
}

.icon_integrity_remove {
	background: url(../images/icon-delete.png) no-repeat !important;
}

.icon_integrity_properties {
	background: url(../images/icon-wrench.png) no-repeat !important;
}

.integrity_sql_text {
	font-weight: bold;
	font-family: Courier New, fixed-width !important;
	font-size: 20px;
}

/*** QUERY BUILDER ***/

.clickable {
	cursor: pointer;
}

.CIPD_ListBox_Item {
	color: black;
	cursor: pointer;
}

.CIPD_ListBox_ItemSelected {
	color: white;
	background-color: 000088;
	cursor: pointer;
}

/*********************CALENDAR***********************/
.CalendarWidget {
  border: 1px solid #00428C;
  background-color: #FFFFFF;
}

.CalendarWidget .navbar {
    width: 100%;
    background-color: #DFE8F6;
    color: #00428C;
    font-weight: bold;
    vertical-align: middle;
    /*border-bottom: 1px solid #ACA899*/;
}

.CalendarWidget .navbar .gwt-Button {
    padding-left: 5px;
    padding-right: 5px;
    color: #00428C;
}

.CalendarWidget .table {
    font: 10pt sans-serif;
    text-align: center;
}

.CalendarWidget .weekheader {
    background-color:#DFE8F6;
}

.CalendarWidget .weekheader .days {
    width: 3em;
}

.CalendarWidget .cell {
    cursor: pointer;
}

.CalendarWidget .cell .gwt-HTML {
    border: .5px solid #ACA899;
}

.CalendarWidget .cell .gwt-HTML span {
  width: 100%;
  height: 100%;
  line-height: 2em;
}

.CalendarWidget .today .gwt-HTML {
  background-color: #DFE8F6
}

.CalendarWidget .day .gwt-HTML {
  border: .5px solid #C9EEFF;
}

.CalendarWidget .day .gwt-HTML {
  border: .5px solid #ACA899;
}

.calendar-month-button .gwt-Button {
	color: #00428C;
}

.calendar-month {
  background-color: #DFE8F6;
}

.attachmentWindow {
  padding: 15px;	
}

.attachmentForm {
  margin-top: 50px;
  margin-left: 15px;
  margin-right: 15px;	
}

.attachmentTable{
  border-style: solid;
  border-color: black;
  border-width: 2px;
}

.attachmentTableHeader{
  font-weight: bold;
  font-size: medium;
  margin-left: 2px !important;
  margin-top: 2px !important;
  margin-bottom: 2px !important;
  border-bottom-style: solid;
  border-bottom-color: black;
  border-bottom-width: 2px;
}

.attachmentRow {
  margin-left: 2px;	
}

.changesTitle{
	margin-top: 15px !important;
	margin-left: 12px !important;
	font-weight: bold !important;
	
}

.formPanelBorder{
	border: none !important;	
}

.sis_ws_permissionpanel_row_selected {
	border: 1px dotted black;
}
