<field id="63">
	<!-- AAH used General Info -->
	<canonicalName>System</canonicalName>
	<description>System</description>
	<classOfService>Species Attributes</classOfService>
	<structures>
		<structure id="value">
			<multipleSelect>
				<option>Terrestrial</option>
				<option>Freshwater</option>
				<option>Marine</option>
				<selected></selected>
			</multipleSelect>
		</structure>
	</structures>
</field>
